<!-- footer section starts -->
<section class="footer">

  <div class="box-container">

      <div class="box">
          <h3>Bassam's Portfolio</h3>
          <p>Thank you for visiting my personal portfolio website. Connect with me over socials. <br/> <br/> </p>
      </div>

      <div class="box">
          <h3>quick links</h3>
          <a href="#home"><i class="fas fa-chevron-circle-right"></i> home</a>
          <a href="#about"><i class="fas fa-chevron-circle-right"></i> about</a>
          <a href="#skills"><i class="fas fa-chevron-circle-right"></i> skills</a>
          <a href="#education"><i class="fas fa-chevron-circle-right"></i> education</a>
          <a href="#work"><i class="fas fa-chevron-circle-right"></i> work</a>
      </div>

      <div class="box">
          <h3>contact info</h3>
          <p> <i class="fas fa-phone"></i>(+20) 1159350591</p>
          <p> <i class="fas fa-envelope"></i>bassamramadan964@gmail.com</p>
          <p> <i class="fas fa-map-marked-alt"></i>Cairo , Egypt</p>
          <div class="share">

              <a href="https://www.linkedin.com/in/bassam-ramadan-14436a185/" class="fab fa-linkedin" aria-label="LinkedIn" target="_blank"></a>
              <a href="https://github.com/BassamRamadan2611" class="fab fa-github" aria-label="GitHub" target="_blank"></a>
              <a href="mailto:bassamramadan964@gmail.com" class="fas fa-envelope" aria-label="Mail" target="_blank"></a>

          </div>
      </div>
  </div>

  <h1 class="credit">Designed with <i class="fa fa-heart pulse"></i> by <a href="https://www.linkedin.com/in/bassam-ramadan-14436a185/"> Bassam Ramadan</a></h1>

</section>
<!-- footer section ends -->
