
<!-- education section starts -->
<section class="education" id="education">

  <h1 class="heading text-center"><i class="fas fa-graduation-cap"></i> My <span>Education</span></h1>


    <div class="box-container">

    <div class="box \"  data-aos="fade-down" >
        <div class="image">
        <img draggable="false" src="assets/images/bsu.jpeg" alt="" style="width: 300px; height: 300px;">
        </div>
        <div class="content " style="margin-top: 50px;">
        <h3>Bachelor of Information Systems</h3>
        <p>Faculty Of Computers & Artificial Intelegence</p>
        <h4>2018-2022 </h4>
        <h4>GPA : 3</h4>
        </div>
    </div>



</div>
</section>

<!-- education section ends -->
